/* Para las fuentes */

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;500;600;700;800&display=swap');

@import './variables';

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: $dark;
    font-weight: 300;
    color: $light;

}

.logo{
    height: 5vh;
    object-fit: cover;
}

.bg-dark-x{
    background-color: $dark-x;
    color: $light;
}

.bg-dark-x:focus{
    background-color: $dark-x-active;
}

.bg-dark-x-background{
    background-color: $dark-x-background;
}

/* 
    TODO Estilos de los inputs tipo file
*/
.input__file{

    border: none;
    position: relative;
    display: inline-block;
    padding: 15px 7px;
   
}

.input__file::before{
    background-color: $dark-x-background2;
    color: white;
    display: flex;            
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: absolute;
    left: -10px;
    right: 0;
    top: 0;
    bottom: 0;  
    border: 2px solid $light;  
    font-size: 20px;
    font-weight: bold;
}

.input__file input[type="file"] {
    opacity: 0;
   
    display: inline-block;            
  }

  .input1::before{
      content: 'Fotos del dispositivo';
      text-align: center;

  }


  .input2::before{
      content: 'Fotos del comprobante';
      text-align: center;

  }


.form-control, .btn{
    min-height: 3.125rem;
    line-height: initial;

}

.input__textarea{
    background-color: $dark;
    border: none;
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    color: aliceblue !important;
}

.imagenes{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Para mostrar la ventana modal */

.modal.fade.show{
    display: block !important;
}